<!doctype html>
<html lang="en">

<head>
    <title>Profile</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="icon" type="image/x-icon" href="template/login-form-15/images/globe.png">
    <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="template/login-form-15/css/style.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
</head>

<body>
    <section class="ftco-section">
        <div class="container">
            <div class="row justify-content-center">
                <div class="col-md-12">
                    <div class="row gx-4 gx-lg-5">
                        <div class="col-md-12 mb-5">
                            <div class="card h-100">
                                <div class="card-body">
                                    <h2 class="card-title">Profile</h2>
                                    <p class="card-text">
                                        <span>Email : <b><%= email %></b></span><br>
                                        <span>Username : <b><%= name %></b></span><br>
                                        <span>Last Login : <b><%= loginStart %></b></span><br>
                                        <span>Last Logout : <b><%= loginEnd %></b></span><br>
                                    </p>
                                </div>
                                <div class="card-footer">
                                    <a class="btn btn-info btn-sm" href="/calculator">Calculator</a>
                                    <a class="btn btn-primary btn-sm" href="/logout">Logout</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <script src="template/login-form-15/js/bootstrap.min.js"></script>
</body>

</html>